* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.first-para {
    padding: 25px 0px 50px;
    text-align: center;
}

.first-headline {
    width: 100%;
    height: 100%;
    font-style: bold;
    font-size: 60px;
    text-align: center;
}

.link-button {
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 400;
    background-color: rgb(206, 77, 77);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
}

.first-sec {
    background-image: linear-gradient(0deg, rgb(18, 18, 18), rgb(18, 18, 18, 0.10)), url(images/donation9.jpg);
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-two {
    background-color: rgb(27, 26, 26);
    padding-top: 150px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;



}

.title2 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    text-align: center;
    color: gray;
    font-size: large;
    margin-bottom: 100px;

}

#short-text {
    padding-top: 50px;
    text-align: center;
    color: gray;
    font-size: large;
    margin-bottom: 10px;
}

.card1 {


    display: flex;
    justify-content: center;




}

.amount {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 40px;
    display: flex;


}

.card-amount {


    border-radius: 5px;
    background-color: white;
    margin: 20px;
    text-align: center;
    cursor: pointer;

}

.card-amount.card2 {
    border: 4px solid;
    background-color: none;
    border-color: rgb(209, 109, 125);

}

#card2 {
    color: rgb(209, 109, 125);
}

#amount-id {
    border: none;
    background-color: rgb(27, 26, 26);
    color: gray;
    height: 30px;
    font-size: 20px;
}

hr {
    width: 50%;
    margin: 0 auto;
}

.section-three {
    background-color: rgb(27, 26, 26);
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 150px;

}

.title3 {
    font-style: bold;
    font-size: 60px;

}

.text {
    padding-top: 15px;
    color: gray;
    font-size: large;
    padding-bottom: 30px;
}

.link-button2 {
    text-decoration: none;

    color: black;
    font-weight: 400;
    background-color: rgb(206, 77, 77);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}

.images {
    width: 450px;
    height: 500px;
    border-radius: 10px;
    padding-left: 20px;

}

.half-width2 {
    width: 50%;
    text-align: center;

}

#text {
    text-align: left;
    padding-left: 100px;
}

.last-card {
    justify-content: center;
    display: flex;
    margin-top: 35px;

}

.input-sec {
    display: flex;
    justify-content: center;
    padding: 75px;
}

.email {
    width: 200px;
    height: 30px;
    background-color: rgb(206, 199, 199);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: left;
    padding-left: 20px;
    padding-top: 8px;
    color: gray;
}

#input {
    border: none;
    background-color: rgb(206, 199, 199);
}

.subscribe {
    width: 150px;
    height: 30px;
    background-color: rgb(228, 104, 104);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

    padding-top: 8px;
    color: rgb(12, 12, 12);
}


.rect {
    width: 700px;
    height: 200px;
    background-color: antiquewhite;
    justify-content: center;


}

.large-card {
    display: flex;
    justify-content: center;
    cursor: pointer;


}

.card-element {
    text-align: left;
    border-radius: 5px;
    margin: 20px;
    padding: 50px;
    width: 220px;
    height: 250px;

}

#card-color1 {
    background-color: rgb(32, 46, 39);
}

#card-color2 {
    background-color: rgb(51, 34, 35);
}

#card-color3 {
    background-color: rgb(154, 158, 147);
}

.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    height: 180px;
    background-color: rgb(14, 13, 24);
    color: white;
    text-align: center;

    justify-content: center;
}

.bh {
    padding: 50px;
    font-size: 30px;
    font-family: ;
    color: rgb(228, 69, 69);
}

.links {
    text-decoration: none;
    color: black;
}

/*
section {
    text-align: center;
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.link-button {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 700;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
}

.first-model h1 {
    font-style: bold;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

.first-model p {
    padding-bottom: 10px;
    text-align: center;
}